boto3==1.28.68
boto3-stubs==1.28.68
botocore==1.31.68
botocore-stubs==1.31.68
jmespath==1.0.1
mypy-boto3-cloudformation==1.28.64
mypy-boto3-dynamodb==1.28.66
mypy-boto3-ec2==1.28.67
mypy-boto3-lambda==1.28.63
mypy-boto3-rds==1.28.66
mypy-boto3-s3==1.28.55
mypy-boto3-sqs==1.28.36
python-dateutil==2.8.2
s3transfer==0.7.0
six==1.16.0
types-awscrt==0.19.3
types-s3transfer==0.7.0
typing_extensions==4.8.0
urllib3==1.26.18
